name: Build and deploy ASP.NET Core app to Azure Web App

on:
  push:
    branches:
      - main

env:
  AZURE_WEBAPP_NAME: noteAi
  DOTNET_VERSION: '8.0.x'
  PROJECT_PATH: Backend/NotesApp/NotesApp.API/NotesApp.API.csproj

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}

    - name: Restore
      run: dotnet restore ${{ env.PROJECT_PATH }}

    - name: Publish
      run: |
        dotnet publish ${{ env.PROJECT_PATH }} \
        -c Release \
        -o ${{ github.workspace }}/publish

    - name: Login to Azure
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Deploy to Azure Web App
      uses: azure/webapps-deploy@v2
      with:
        app-name: ${{ env.AZURE_WEBAPP_NAME }}
        package: ${{ github.workspace }}/publish
